<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stadistics.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/control.js') }}"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Hit or Not?</title>

    
  </head>

  <body>

    <div class="main inactive">
      <div class="bg-main"></div>
      <section class="search">
        <div class="search-box">
          <div class="introduction-text">
            <h1>Hit or Not?</h1>
            <p>Search your song and let AI predict that.</p>
          </div>
          <div class="cancel"></div>
          <div class="search-form">
            <div class="query-box">
              <input class="query-input" id="query-input" type="text" autocomplete="off" name="search" placeholder="e.g. 'foals', 'queen'">
              <div id="results">
              </div>
              <p id='error-message-text' style='display: none;'> Error text </p>

              <!-- <button id="predict-song" onclick="predict()"> Predict song</button> -->
            </div>
          </div>
          
          {% if entry %}
          <div class="introduction-text">
            <h2>Fancy Some stadistics?</h2>
          </div>
          <div class="model-stadistics">
            <div class="model-stadistics-box">
              <div class="model-stadistics-item">
                <p>Songs Added</p>
                <p id="recall">{{ entry.model_updated_new_songs_number }} new songs added </p>
              </div>
              <div class="model-stadistics-item">
                <p>Accuracy</p>
                <p id="accuracy">{{ entry.model_updated_accuracy }} %</p>
              </div>
              <div class="model-stadistics-item">
                <p>Precision</p>
                <p id="precision">{{ entry.model_updated_precission }} %</p>
              </div>
              <div class="model-stadistics-item">
                <p>Recall</p>
                <p id="recall">{{ entry.model_updated_recall }} %</p>
              </div>
              <div class="model-stadistics-item">
                <p>F1 Score</p>
                <p id="recall">{{ entry.model_updated_f1_score }} %</p>
              </div>
            </div> 
          </div> 
          {% endif %}
        </div>
      </section>
    </div>

  </body>

  <footer>
    <div class="footer-container">
      <div class="footer-item">
        <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.brunomoya.com" target="_blank">Bruno Moya</a></p>
      </div>
      
      <div class="footer-item">
        <p>Source code available on <a href="https://github.com/elblogbruno/MD3-Kaggle-Spotify-Hit-Detector" target="_blank">Github</a></p>
      </div>

      <div class="footer-item">
        <p>Thanks <a href="https://codepen.io/samratcliffe/pen/xOqEZg" target="_blank">@samratcliffe</a> for the website design</p>
      </div>

    </div>

  </footer>

  <script src="{{ url_for('static', filename='js/search.js') }}"></script>

</html>
